
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://rnpet.com.br/wp-content/uploads/2020/12/pesquisa-mercado-pet.jpg);">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-xs-12 col-sm-12	col-md-12 col-lg-5	 text-center me-5"> 
        <h1>Quero adotar</h1>
        <p> Clique aqui e conheça seu futuro amigo <%= link_to 'Buscar Pet', pets_path, class: 'btn btn-primary' %></p>
      </div>

      <div class="col-xs-12 col-sm-12	col-md-12	col-lg-5 text-center"> 
        <h1>Quero ser adotado</h1>
        <p> Ajude um Pet a achar seu novo dono  <%= link_to 'Cadastrar Pet', new_pet_path, class: 'btn btn-primary' %></p>
    </div>
  </div>
</div>


  


