
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12"> 
      <h1>Quero adotar</h1>
      <p> <%= link_to 'Pets', pets_path, class: 'btn btn-primary' %></p>
    </div>

    <div class="col-12"> 
      <h1>Quero ser adotado</h1>
      <p> <%= link_to 'Pets', new_pet_path, class: 'btn btn-primary' %></p>
    
      
    </div>
  </div>
  

</div>

