
<div class=" vh-100 vw-100"  style="background-size: 100% 100%; background-repeat: no-repeat; background-image: url(https://rnpet.com.br/wp-content/uploads/2020/12/pesquisa-mercado-pet.jpg);">
  <br>
  <br>
  <br>
  <div class="row justify-content-center mt-0">
    <div class="col-4 text-center me-2"> 
      <h1>Quero adotar</h1>
      <p> Clique aqui e conheça seu futuro amigo <%= link_to 'Buscar Pet', pets_path, class: 'btn btn-primary' %></p>
    </div>

    <div class="col-4 text-center"> 
      <h1>Quero ser adotado</h1>
      <p> Ajude um Pet a achar seu novo dono  <%= link_to 'Cadastrar Pet', new_pet_path, class: 'btn btn-primary' %></p>
    
      
    </div>
  </div>

  

  

</div>

