
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12"> 
      <h1>Quero adotar</h1>
      <p> Clique aqui e conheça seu futuro amigo <%= link_to 'Buscar Pet', pets_path, class: 'btn btn-primary' %></p>
    </div>

    <div class="col-12"> 
      <h1>Quero ser adotado</h1>
      <p> Ajude um Pet a achar seu novo dono  <%= link_to 'Cadastrar Pet', new_pet_path, class: 'btn btn-primary' %></p>
    
      
    </div>
  </div>
  

</div>

